<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testmodle.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @testmodle.title %>
</p>

<%= link_to 'Edit', edit_testmodle_path(@testmodle) %> |
<%= link_to 'Back', testmodles_path %>
